.minatrackpic { border: 1px solid #dedede; padding: 3px; background-color: #fff; width: 300px; height: 150px; margin: 5px auto 20px auto; }
.minatrackscroll { width: 300px; margin: 10px auto 10px auto; height: 320px; padding: 0px 5px 0px 0px; text-align: justify; font-family: verdana; font-size: 11px; line-height: 12px; color: #000; overflow: auto; }
.minatrackscroll::-webkit-scrollbar { width: 12px; }
.minatrackscroll::-webkit-scrollbar-track { width: 12px; background-color: #ffffff; }
.minatrackscroll::-webkit-scrollbar-thumb { width: 12px; background-color: #000000; border: 3px double #ffffff; }
.minaline { border-top: 1px solid #111; width: 305px; height: 2px; margin: 10px auto 15px auto;  }
.minhead { font-family: Verdana;  text-align: right; letter-spacing: 2px; padding-bottom: 4px; border-bottom: 1px solid #dedede; font-size: 12px; color: #111; text-transform: uppercase; font-weight: bold; margin-bottom: 5px; }
.minthreadlinks { font-family: Verdana; font-size: 11px; line-height: 12px; color: #111; white-space: pre-line; }
.minthreadlinks a {  font-weight: bold!important; font-size: 11.5px; color: #111!important; font-family: Verdana!important; text-transform: lowercase!important }
.minname { font-weight: bold; font-family: Verdana; text-align: center; font-size: 20px; font-weight: bold; color: #111; margin-top: 18px; letter-spacing: 5px; width: 300px; margin-left: auto; margin-right: auto; }
.minalinks { width: 300px; margin-top: 10px; margin-bottom: 10px; }
.minalinks a { width: auto; height: 15px; padding: 2px 6px 2px 6px; background-color: #222; color: #fff; font-family: Verdana; font-size: 9.5px; line-height: 15px; letter-spacing: 2px; margin-top: 10px; margin-left: 2px; margin-bottom: 5px; margin-right: 2px; text-align: center; font-weight: bold; }

.minacontainer {
 margin: 10px auto; 
 height: auto;
 width: auto;
}

.minatabs {
 margin: 0px auto; 
 position: relative;
 width: 400px; 
 height:  670px;
 background-color: #fff; border: 1px solid #dedede;
}

.minatab {
 display: block; margin-top: -1px; /* CHANGE TO DISPLAY:BLOCK FOR VERTICAL TABS */
}

/* position your tab labels in here - also use margins to space your labels - you kind of have to eye until it's centered bc the math with tabs gets confusing */
.minatab label {
 display: block; /* this lets you fix the label dimensions */
 width: 41px;
 height: 20px;
 background: #111;
border-bottom: 1px solid #dedede; border-right: 1px solid #fff;
color: #fff;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
letter-spacing: 3px;
text-align: center;
line-height: 15px;
padding: 6px 5px 0px 5px;
 margin: 0px;
 position: relative;
 left: 0px;
 top: 0px;
 z-index: 2;
margin-left: -51px;
margin-bottom: 1px;
}

.minatab input[type=radio]:checked ~ label {
background: white;
color: #111;
border-right: none;
 z-index: 1;
margin-left: -51px;
margin-bottom: 1px;
border-left: 1px solid #dedede;
width: 40px;
}

.minatab input[type=radio] {
 display: none; /* DON'T EDIT */
}

/* if you want tab transitions they go here */
.minacontent {
 position: absolute;
 top: 0px;
 bottom: 0px;
 left: 0px;
 right: 0px;
 background: #fff;
 padding: 20px;
transform: scale(0); -webkit-transform: scale(0); -o-transform: scale(0); -moz-transform: scale(0); transition-duration: 1s; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -o-transition-duration: 1s;}

/* if you want tab transitions they also go here */
.minatab input[type=radio]:checked ~ label ~ .minacontent {
 z-index: 3;
transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -moz-transform: scale(1); 
}
.minacredit { text-align: center; margin-top: 8px; font-family: Raleway Black; font-weight: bold; font-size: 9px; letter-spacing: 2px; line-height: 10px; text-transform: uppercase; }
.minacredit a { text-align: center; font-family: Raleway Black; font-weight: bold; font-size: 9px; letter-spacing: 2px; line-height: 10px; text-transform: uppercase; }
@font-face {
    font-family: 'Raleway Black'; font-weight: bold; font-style: normal;
    src: url('');
    src: url('') format('embedded-opentype'),
        url('') format('woff2'),
         url('') format('woff'),
         url('') format('truetype'),
         url('') format('svg'); }
